.exp-logo{
    display: grid;
    grid-template-columns: repeat(4 ,175px);
    grid-template-rows: repeat(3, 150px);
    width: 400px;
    height: 400px;
    margin-top: 5%;
    align-items: center;
    justify-items: center;
    padding: 0 27%;
    margin-bottom: -5%;
}

.logo-size{
  width: 100px;
  height: 120px;
}

.title{
    background: linear-gradient(10deg, #FF8660 , #D5491D);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}



/*
RESPONSIVE
*/

/*
PHONES
*/

@media (min-width: 350px) and (max-width: 767px){
.exp-logo{
    display: grid;
    grid-template-columns: repeat(4 ,100px);
    grid-template-rows: repeat(3, 150px);
    width: 400px;
    height: 400px;
    margin-top: 15%;
    margin: auto;
    margin-bottom: -15%;
    padding: 0;
  }

.logo-size{
  width: 60px;
  height: 80px;
  }
}