#root{
    height: 280vh;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(4,100px);
    justify-items: left;
}


.footer-title{
    color: white;
}

.footer-description{
    color: #C5C5C5;
    text-align: left;
}

.footer-email{
    color: #C5C5C5;
}

.footer-icons{
    display: flex;
    gap: 10px;
}

.footer-img{
    height: 35px;
    width: 35px;
}