.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-download {
    background-color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.btn-download:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

li {
    list-style: none;
}

@media (max-width: 767px) {
    .btn-container {
        justify-content: center;
    }

    .btn-download {
        padding: 7px 20px;
        font-size: 14px;
        white-space: nowrap;
    }
}
